@*@model asp.net实训_.RouteConfig*@
@model IEnumerable<asp.net实训_.Models.evaluate>
@{
    ViewBag.Title = "repairUser";
    Layout = "~/Views/Shared/mubanUser.cshtml";
}
<div class="card">

    <div class="content">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#pill1" data-toggle="tab" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">业主报修</font></font></a>
                    </li>
                    <li class="">
                        <a href="#pill2" data-toggle="tab" aria-expanded="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">维修记录</font></font></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="pill1">
                <form method="get" action="/Repair/repairUser" class="form-horizontal">
                    <div class="content container">
                        <fieldset style="margin-bottom:40px;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label width">姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset style="margin-bottom:40px;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报修类型</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="type">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset style="margin-bottom:40px;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报修内容</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" cols="1" rows="7"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div>
                            <label class="col-sm-4" style="margin-left:15px;"></label>
                            <button class="btn btn-primary col-md-3" id="commit" type="submit"> <i class="icmn-checkmark margin-right-5"></i> 报修 </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane " id="pill2">
                <form action="/Repair/repairUser" method="post" id="upd">
                    <header><p class="text-info">评价</p></header>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>维修人员</th>
                                        <th>维修时间</th>
                                        <th>结束时间</th>
                                        <th>是否受理</th>
                                        <th>是否解决</th>
                                        <th>评价</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var data in Model)
                                    {
                                        <tr>
                                            <td>@data.name</td>
                                            <td>@data.repairDate</td>
                                            <td>@data.repairingDate</td>
                                            <td>@data.isAccetp</td>
                                            <td>@data.isSolve</td>
                                            <td class="hide">@data.repairId</td>
                                            <td class="text-primary">
                                                <a data-toggle="modal" data-id="@data.repairId" data-target="#myModel " class="evla" data-userdate="@data.repairDate">评价</a>&nbsp
                                                <a data-toggle="modal" data-target=".example-modal-sm " href="#" class="dianji">查看评价 <p class="hide">@data.evaluateText</p> </a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


    </footer>

    </div>

    </div>
@*查看评价模态框*@
<div class="modal fade example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">您的评价</h4>
            </div>
            <div class="modal-body">
                <p id="tianjia">
                    @*添加评价*@
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@*评价模态框*@
<div class="modal fade example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="myModel">
    <div class="modal-dialog modal-sm" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">评价</h4>
            </div>
            <form action="/Repair/repairUser" method="post"  id="a">
                <div class="modal-body">
                    <textarea class="form-control" cols="1" rows="5" id="text"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info  btn1" id="evla1" data-dismiss="modal">评价</button>

                </div>
            </form>
        </div>
    </div>
</div>

@RenderPage("../Shared/js.cshtml")
<script type="text/javascript">
    $("#change1").text("业主维修信息");
    $("#repair").addClass("active");

    $("#commit").click(function () {

        $.post('/Repair/addRepair',
            { name: $("#name").val(), type: $("#type").val() },
            function (flag) {
                if (flag == false) {
                    alert("网络异常，请重新输入");
                }
                else {
                    alert("报修成功");
                }

            }, "json")
    });


    //设置评价的值
    $(".dianji").click(function () {
        var data = $(this).children().text();
        //data = $(this).parent().prevAll().eq(3).text();
        $("#tianjia").text(data)
    })


    $(".example-modal").on('show.bs.modal', function (event) {
        var a = $(event.relatedTarget);
        var modal = $(this);
        //var date = a.data('userdate');
        //var eval = modal.find('#text').val();
        //var evaluateText = $('#text').val();
        var btn = modal.find('.btn1');
        btn.click(function () {
            $.post(
                '/Repair/addEval',
                { date: a.data('id'), eval: modal.find('#text').val()},
                function (flag) {
                    if (flag == false) {
                        alert("评价出错");
                    }
                    else {
                        //alert("评价成功");
                    }
                },
                "json")
            alert("评价成功");
            $("#a").submit();
            //location.href = "/Repair/repairUser"
        })

    })

    //评价jq
   
</script>
