@*@model asp.net实训_.RouteConfig*@
@model IEnumerable<asp.net实训_.Models.users>

@{
    ViewBag.Title = "userAdmin";
    Layout = "~/Views/Shared/mubanAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- 业主信息的查看和业主注册 -->
            <div class="col-md-12">
                <div class="card" id="profile-main">
                    <div class="content">
                        <h3>欢迎 管理员小张！</h3>
                        @*标签选项卡*@
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile11" aria-controls="profile11" role="tab" data-toggle="tab">业主信息管理</a>
                                    </li>
                                    <li>
                                        <a href="#settings11" aria-controls="settings11" role="tab" data-toggle="tab">业主注册</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <!-- 业主信息管理栏 -->
                            <div role="tabpanel" class="tab-pane active" id="profile11">
                                <div class="row">
                                    <div class="card">
                                        <div class="content">
                                            <h4 class="title">业主数据记录</h4>
                                            <div class="toolbar">
                                                <!--        在这里您可以为工具栏编写额外的按钮/操作             -->
                                            </div>
                                            <div class="material-datatables">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                                                    <thead>
                                                        <tr>
                                                            <th>业主账号</th>
                                                            <th>业主姓名</th>
                                                            <th>业主邮箱</th>
                                                            <th>业主电话</th>
                                                            <th>业主地址</th>
                                                            <th class="disabled-sorting text-right">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var u1 in Model)
                                                        {
                                                            <tr>
                                                                <td>@u1.userId</td>
                                                                <td>@u1.userName</td>
                                                                <td>@u1.userMail</td>
                                                                <td>@u1.userPhone</td>
                                                                <td>@u1.userAdress</td>
                                                                <td class="text-right">
                                                                    <a href="#" class="btn btn-simple btn-warning btn-icon edit" data-toggle="modal" data-target=".example-modal-sm" data-userid=@u1.userId data-username=@u1.userName data-usermail=@u1.userMail data-useradress=@u1.userAdress data-userphone=@u1.userPhone><i class="ti-pencil-alt"></i></a>
                                                                    <a href="#" class="btn btn-simple btn-danger btn-icon remove"><i class="ti-close"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>业主账号</th>
                                                            <th>业主姓名</th>
                                                            <th>业主邮箱</th>
                                                            <th>业主电话</th>
                                                            <th>业主地址</th>
                                                            <th class="text-right">操作</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>
                            </div>
                            <!-- 业主注册栏 -->
                            <div role="tabpanel" class="tab-pane" id="settings11">
                                <div class="widget p-25">
                                    <div class="card">
                                        <form id="RegisterValidation" action="/User/userInsert" method="post">
                                            <div class="content">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">
                                                        业主姓名
                                                        <small>*</small>
                                                    </label>
                                                    <input class="form-control iname" name="iname" id="registerPassword " required="true" value="" />
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">
                                                        业主邮箱
                                                        <small>*</small>
                                                    </label>
                                                    <input class="form-control imail" name="imail" type="email" id="registerPassword" required="true" />
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">
                                                        业主电话
                                                        <small>*</small>
                                                    </label>
                                                    <input class="form-control iphone" name="iphone" type="" id="registerPassword" required="true" />
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">
                                                        业主地址
                                                        <small>*</small>
                                                    </label>
                                                    <input class="form-control iadress" name="iadress"  @*id="registerPasswordConfirmation"*@ required="true" @*equalto="#registerPassword"*@ />
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">
                                                        业主密码
                                                        <small>*</small>
                                                    </label>
                                                    <input class="form-control ipassword" placeholder="123456" value="123456" type="" name="ipassword" id="registerPasswordConfirmation" required="true" @*equalto="#registerPassword"*@ />
                                                </div>
                                                <div class="category form-category">
                                                    <small>*</small> 必填项
                                                </div>
                                                <div class="form-footer text-right">
                                                    <button type="submit" @*id="btnInsert"*@ class="btn btn-rose btn-fill btn-default">提交</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@RenderPage("../Shared/foot.cshtml")
    </footer>
    </div>
<!--small modal-->
<div class="modal fade example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">业主信息编辑</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <form id="RegisterValidation" action="/User/userUpdate" method="post">
                        <div class="content">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    业主编号
                                    <small>*</small>
                                </label>
                                <input class="form-control userid" name="userid" id="registerPassword d1" required="true" />
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    业主姓名
                                    <small>*</small>
                                </label>
                                <input class="form-control username" name="username" id="registerPassword d1" required="true" />
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    业主邮箱
                                    <small>*</small>
                                </label>
                                <input class="form-control usermail" type="email" name="usermail" id="registerPassword" required="true" />
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    业主电话
                                    <small>*</small>
                                </label>
                                <input class="form-control userphone" name="userphone" type="number" id="registerPassword" required="true" />
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    业主地址
                                    <small>*</small>
                                </label>
                                <input class="form-control useradress" name="useradress" id="registerPasswordConfirmation" required="true" equalto="#registerPassword" />
                            </div>
                            <div class="category form-category">
                                <small>*</small> 必填项
                            </div>
                            <div class="form-footer text-right">
                                <button type="submit" @*id="btnUpdate"*@ class="btn btn-rose btn-fill btn-default">保存更改</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
@RenderPage("../Shared/js.cshtml")
<script type="text/javascript">
    var userid;
    //模态框动态操作
    $(".example-modal-sm").on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        ////注意这里的whatever对应前面html代码中button标签下data-whatever属性的后半段
        //var recipient = button.data('username');
        var modal = $(this);
        //对每一位业主的各字段进行赋值
        userid = button.data('userid');
        modal.find('.userid').val(button.data('userid'));
        modal.find('.username').val(button.data('username'));
        modal.find('.userphone').val(button.data('userphone'));
        modal.find('.usermail').val(button.data('usermail'));
        modal.find('.useradress').val(button.data('useradress'));
    })
    //提交更改操作发送ajax post请求
    $("#btnUpdate").click(function () {
        $.ajax({
            url: "/User/userUpdate",
            type: "POST",
            dataType: "JSON",
            data: {
                userName: $(".username").val(),
                userMail: $(".usermail").val(),
                userId: userid,
                userAdress: $(".useradress").val(),
                userPhone: $(".userphone").val(),
            },
            success: function () {

            },
            //error: function (xhr, stutas, response) {
            //    alert(response + status + xhr.statusText);
            //},
        });
    });
    //提交插入操作发送ajax post请求
    $("#btnInsert").click(function () {
        $.ajax({
            url: "/User/userInsert",
            type: "POST",
            dataType: "JSON",
            data: {
                userName: $(".iname").val(),
                userMail: $(".imail").val(),
                userAdress: $(".iadress").val(),
                userPhone: $(".iphone").val(),
                userPassword: $(".ipassword").val(),
            },
            success: function (data) {
              
            },
            error:function()
            {
                alert("邮箱不能重复注册");
            }
            //error: function (xhr, stutas, response) {
            //    alert(response + status + xhr.statusText);
            //},
        });
    })

    // 验证
    $().ready(function () {
        $('#allInputsFormValidation').validate();
    });
   viewBag
    $(document).ready(function () {

        $("#change1").text("业主用户信息管理"); /*这里只要改text里面的*/
        $("#user").addClass("active"); /*这里找到母版中你要改的选项li那加入一个id，然后超链接#改成你的控制器要去的网页的网址*/

        //对table的操作
        $('#datatables').DataTable({
            "fnPreDrawCallback": function (oSettings) {
                $('.dataTables_filter input').attr({ 'name': 'search', 'placeholder': '搜索业主账号' });//提示
            },

            "pagingType": "full_numbers",
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]

            ],
            responsive: true,

            // 更换语言
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉，没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据 ",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sSearch": "查找",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页",
                    "sZeroRecords": "没有检索到数据",

                },


            }


        });


        var table = $('#datatables').DataTable();

        // 编辑记录
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // 删除记录
        table.on('click', '.remove', function (e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //喜欢记录
        table.on('click', '.like', function () {
            alert('You clicked on Like button');
        });

        //对第一列进行模糊非智能搜索
        table.columns(0).search($('.input_search').val(), true, false).draw();

        $('.card .material-datatables label').addClass('form-group');


    });
</script>

